
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial,sans-serif;
    background-color: #0f0f0f;
}
.seccion-hero{
    width:100%;
    background-image: url(/images/InicioWeb.jpeg);
    background-size:cover;
    background-position:center;
    height:85vh;
    height:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:whitesmoke;
    position:relative;
    z-index:1;
  }
.hero-content{
    max-width:700px;
    padding:20px;
}
.hero-content img{
    max-width:120px;
    height:auto;
    margin-bottom:20px;
}
.hero-content p{
    font-size: 2.2rem;
    font-weight:bold;
    margin-bottom:25px;
    text-shadow:2px 2px 4px rgb(0, 0, 0,0.7);
}
.boton{
    background-color: dimgray;
    border: 2px solid #000000;
    border-radius:8px;
    color:aliceblue;
}